<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <script type="text/javascript" src="./js/main.js" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Main</title>
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <a class="logo">Nakuru Vehicle Management Information System</a>
    </div>

    <div class="content">
        <!-- Vertical Navbar -->
        <nav class="vertical-navbar" id="vertical-navbar">
            <div class="profile-img">
                <img src="./assets/carProfile.jpg" alt="Profile Image" class="small-image">
            </div>

            <ul>
                <li data-tab-target="#parts"><i class="fa fa-pen fa-solid"></i> Vehicle Management</li>
                <li data-tab-target="#orders"> <i class="fa fa-calendar fa-solid"></i> Orders</li>
                <li data-tab-target="#users"><i class="fa fa-users fa-solid"></i> Users</li>
            </ul>
        </nav>

        <!-- Main Section -->
        <main class="tab-content">
            <div id="parts" data-tab-content class="active">
                <div class="parts-header">
                    <div class="parts-title">
                        <h2>Nakuru Vehicle Management System Menu</h2>
                    </div>

                    <div class="parts-sub-title">
                        <h3>Add, Edit or remove items</h3>
                    </div>

                </div>

                <div class="orders">
                    <h1>Order Now</h1>
                    <div class="table-users">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th> 
                                    <th scope="col">Item Price/Piece</th>
                                    <th scope="col">Availability</th>
                                    <th scope="col">Order</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (let i = 0; i < parts.length; i++) { %>
                                    <tr scope="row">
                                        <td><%= i + 1 %></td>
                                        <td><%= parts[i].name %></td>
                                        <td><%= parts[i].price %></td>
                                        <td><%= parts[i].available %></td>
                                        <td><button id="orderBtn">Order</button></td>

                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="orders" data-tab-content >
                <div class="parts-header">
                    <div class="parts-title">
                        
                        <div class="ordered-items">
                            <h1>Ordered Items</h1>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                    </tr>
                                </thead>
                                <tbody id="orderedItemsTable">
                                    <!-- Ordered items will be added here using JavaScript -->
                                </tbody>
                            </table>
                        </div>

    <div id="orders" data-tab-content>
        <div class="parts-header">
            <div class="parts-title">
                <h1>Spare Parts Order Menu</h1>
            </div>
        </div>

    </div>

                    </div>

                </div>
            </div>
            <div id="tickets" data-tab-content>Tickets</div>
            <div id="users" data-tab-content>
                <div class="parts-header">
                    <div class="parts-title">
                        <h1>Users</h1>
                    </div>

                    <div class="table-users">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th> 
                                    <th scope="col">email</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (let i = 0; i < users.length; i++) { %>
                                    <tr>
                                        <td><%= i + 1 %></td>
                                        <td><%= users[i].name %></td>
                                        <td><%= users[i].email %></td>
                                        <td><%= users[i].username %></td>
                                        <td><%= users[i].address %></td>
                                        <td><%= users[i].number %></td> 
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                    

                </div>
                
            </div>
        </main>
    </div>
</body>
</html>
